numpy==1.24.3
opencv-python==4.5.5.64
pandas==2.0.2
Pillow==10.1.0
tensorboard==2.13.0
tensorboard-data-server==0.7.0
tk==0.1.0
torch==2.0.1
torchvision==0.15.2
ultralytics==8.0.113
urllib3==1.26.16
yolov5==7.0.12
